@media screen and (max-width: 1200px){
    body {background-color: aqua;}
    h1 {font-size: 500%;
        color:darkgreen }
}

@media screen and (max-width: 500px){

    h1 {font-size: 500%;
    color:red }
    body {background-color:chartreuse;}

    }

#jogo1 {margin-left: 30%}
#jogo1 {width: 50% }
#jogo1  {size: 100% }
#jogo1 {border-color: red;}

